*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    padding: 16px 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;    
}

h2  {
    margin-bottom: 16px;
}

header button{
    margin-left: 16px;

}

form{
    padding: 8px;
    text-align: center;

}

input, button{
    padding: 8px;
}

button{
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

ul  {
    flex-direction: column;
    margin-left: 700px;
}

ul li {
    cursor: pointer;
}


ul, p  {
    flex-direction: column;
    padding: 16px;
    display: flex;
    justify-content: center;
    
    
}




